.orders-container {
  display: grid;
  gap: 1%;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 2%;
  margin-left: 1%;
}

.order {
  align-items: center;
  background-color: #FFF;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 90%;
  padding: 1.5%;
  text-transform: capitalize;
  text-align: center;
}

.ingredient-list {
  list-style-type:none;
  padding: 0;
}