form {
    align-items: center;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    display: flex;
    flex-direction: column;
    /* padding: 1.5%; */
    /* width: 40%; */
}

button {
    border: none;
    border-radius: 10px;
    background: rgb(230,131,0);
    background: linear-gradient(90deg, rgba(230,131,0,1) 0%, rgba(233,216,148,1) 100%);
    height: 2rem;
    width: 6rem;
    margin-right: 2%;
    margin-bottom: 1%;
    text-transform: capitalize;
}

button:hover {
    background: rgb(255,184,91);
    background: radial-gradient(circle, rgba(255,184,91,1) 0%, rgba(244,236,208,1) 100%);
    cursor: pointer;
}

label {
    margin-bottom: 1%;
}